@import resets
@import configs
@import components

// Navigator
// =========
// 1. Global Rules
// 2. Hero Section
// 3. Nav Bar
// 4. Main


// ===============
// 1. Global Rules
// ===============


body
  background: $bg-light
  color: $c-dark
  font-family: $f-ordinary

::selection
  background: rgba(darken($c-accent, 25%), 40%)

// ===============
// 2. Hero Section
// ===============
.hero
  padding-bottom: var(--divider-height)
  position: relative
  background-attachment: fixed
  background-size: cover
  background-position: center 60%
  background-repeat: no-repeat
  background-image: url("../images/hero/hero-bg.jpg")
  min-height: 85svh

  --divider-height: 4rem
  @include md-screens
    --divider-height: 6rem

  &::before
    content: ""
    position: absolute
    inset: 0
    background: linear-gradient(to top, #0009, #0001)
    backdrop-filter: blur(3px)
    
  .container
    position: relative
    z-index: 5

  .shape-divider
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    transform: rotate(180deg)

    svg
      position: relative
      display: block
      width: 100%
      height: var(--divider-height)

    .shape-fill
      fill: $bg-light

// ==========
// 3. Nav Bar
// ==========
.navbar
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  gap: $s-5
  font-size: 1.2rem
  padding: $s-3 0
  // border-bottom: .1rem solid $c-light

  .brand
    font-family: $f-special
    color: $c-accent
    font-size: 1.3em
    flex-basis: 8rem

  .nav-icon
    position: relative
    margin-inline-start: auto
    width: 1.5rem
    flex-shrink: 0
    aspect-ratio: 1 / 1
    cursor: pointer
    overflow: hidden
    @include md-screens
      display: none

    span
      display: block
      position: absolute
      left: 0
      width: 100%
      height: .2rem
      background-color: $c-light
      border-radius: .1rem
      transition: background-color $fast-trans, inset $fast-trans, transform $fast-trans
      &:first-child
        top: 0
      &:nth-child(2)
        top: 50%
        transform: translateY(-50%)
      &:last-child
        bottom: 0
    &:hover span
      background-color: $c-accent
    &.opened span
      &:first-child
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(45deg)
      &:nth-child(2)
        left: 100%
      &:last-child
        bottom: 50%
        left: 50%
        transform: translate(-50%, 50%) rotate(-45deg)

  .nav-list
    position: absolute
    top: 100%
    inset-inline-end: 0
    display: grid
    grid-template-rows: 0fr
    transition: grid-template-rows $md-trans
    background-color: inherit
    &.opened
      grid-template-rows: 1fr
    @include md-screens
      position: static
      display: flex
      align-items: center
      height: auto

    ul
      overflow: hidden
      background: #000c
      @include md-screens
        background: unset
        overflow: visible
        display: flex
        gap: $s-4
      
    li
      font-size: 1.1rem
      cursor: pointer
      position: relative
      color: $c-light
      &:hover 
        color: $c-accent
      &::before
        content: ""
        position: absolute
        top: 0
        inset-inline-end: 0
        width: 100%
        height: .1rem
        background-color: $c-light
        transition: width $fast-trans, background-color $fast-trans
      @include md-screens
        &:not(#lang-switcher)::before
          top: 100%
          width: 0
          height: .2rem
          border-radius: .1rem
        &:not(#lang-switcher):hover::before
          inset-inline-end: auto
          inset-inline-start: 0
          width: 100%
          background-color: $c-accent

      a
        display: inline-block
        color: inherit
        font-size: 1.1em
        font-weight: 500
        text-decoration: none
        transition: color $fast-trans
        padding: $s-3
        padding-inline: $s-2 ($s-5 + $s-5 - $s-2)
        transition: padding-inline $fast-trans
        @include md-screens
          padding: 0
      &:hover a
        padding-inline: $s-5 $s-5
        @include md-screens
          padding: 0

// =======
// 4. Main
// =======
main
  color: $c-light
  text-align: center
  margin-top: $s-5
  @include md-screens
    font-size: 1.2rem

  .content
    max-width: 30rem
    margin-inline: auto

  h1
    font-size: 2.3em
    margin: 0
    white-space: balance
    font-family: $f-special

  hr
    width: 3em
    margin: $s-2 auto $s-3
    border-color: $c-accent

  p
    margin: 0
    font-size: 1.5em
    white-space: balance

  .btn
    margin: $s-5 auto 0
    border-radius: 10em
    font-size: 1.3em
    padding: .5em 1.7em
    background-color: darken($c-accent, 20%)