@import resets
@import configs
@import components

// Navigator
// =========
// 1. Global Rules
// 2. Hero Section
// 3. Nav Bar


// ===============
// 1. Global Rules
// ===============
body
  background: $bg-light
  color: $c-ordinary
  font-family: $f-ordinary

// ===============
// 2. Hero Section
// ===============
.hero
  position: relative
  display: grid
  gap: $s-3
  grid-template-rows: auto 1fr
  min-height: 80svh
  background-attachment: fixed
  background-size: cover
  background-position: center bottom
  background-repeat: no-repeat
  background-image: url("../images/hero/hero-bg-sm.jpg"), url("../images/hero/hero-bg-xs.jpg")
  @include md-screens
    background-image: url("../images/hero/hero-bg-md.jpg"), url("../images/hero/hero-bg-xs.jpg")
  @include lg-screens
    background-image: url("../images/hero/hero-bg-lg.jpg"), url("../images/hero/hero-bg-xs.jpg")

  &::before
    content: ""
    position: absolute
    inset: 0
    background: linear-gradient(to top, #0009, #0001)

  .container
    position: relative
    z-index: 5

// ==========
// 3. Nav Bar
// ==========
.navbar
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  gap: $s-5
  font-size: 1.2rem
  padding: $s-3 0
  // border-bottom: .1rem solid $c-contrast

  .brand
    font-family: $f-special
    color: $c-accent
    font-size: 1.3em

  .nav-icon
    position: relative
    margin-inline-start: auto
    width: 1.5rem
    flex-shrink: 0
    aspect-ratio: 1 / 1
    cursor: pointer
    overflow: hidden
    @include md-screens
      display: none

    span
      display: block
      position: absolute
      left: 0
      width: 100%
      height: .2rem
      background-color: $c-contrast
      border-radius: .1rem
      transition: background-color $fast-trans, inset $fast-trans, transform $fast-trans
      &:first-child
        top: 0
      &:nth-child(2)
        top: 50%
        transform: translateY(-50%)
      &:last-child
        bottom: 0
    &:hover span
      background-color: $c-accent
    &.opened span
      &:first-child
        top: 50%
        left: 50%
        transform: translate(-50%, -50%) rotate(45deg)
      &:nth-child(2)
        left: 100%
      &:last-child
        bottom: 50%
        left: 50%
        transform: translate(-50%, 50%) rotate(-45deg)

  .nav-list
    position: absolute
    top: 100%
    inset-inline-end: 0
    display: grid
    grid-template-rows: 0fr
    transition: grid-template-rows $md-trans
    background-color: inherit
    &.opened
      grid-template-rows: 1fr
    @include md-screens
      position: static
      display: flex
      align-items: center
      height: auto

    ul
      overflow: hidden
      background: #0005
      @include md-screens
        background: unset
        overflow: visible
        display: flex
        gap: $s-4
      
    li
      font-size: 1.1rem
      cursor: pointer
      position: relative
      color: $c-contrast
      &:hover
        color: $c-accent
      &::before
        content: ""
        position: absolute
        top: 0
        inset-inline-end: 0
        width: 100%
        height: .1rem
        background-color: $c-contrast
        transition: width $fast-trans, background-color $fast-trans
      @include md-screens
        &:not(#lang-switcher)::before
          top: 100%
          width: 0
          height: .2rem
          border-radius: .1rem
        &:not(#lang-switcher):hover::before
          inset-inline-end: auto
          inset-inline-start: 0
          width: 100%
          background-color: $c-accent

      a
        display: inline-block
        color: inherit
        font-size: 1.1em
        font-weight: 500
        text-decoration: none
        transition: color $fast-trans
        padding: $s-3
        padding-inline: $s-2 ($s-5 + $s-5 - $s-2)
        transition: padding-inline $fast-trans
        @include md-screens
          padding: 0
      &:hover a
        padding-inline: $s-5 $s-5
        @include md-screens
          padding: 0