@import resets
@import configs
@import components

// Navigator
// =========
// 1. Global Rules

  
// ===============
// 1. Global Rules
// ===============
body
  background: $bg-light
  color: $c-ordinary
  font-family: $f-ordinary