doctype html
html(lang="ar", dir="rtl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title أكاديمية طلاب الجنة

    //- Search Engine Meta
    meta(name="description", content="مرحبا نحن أكاديمة طلاب الجنة. نهدف لتعليم الناس كتاب الله عز وجل. لدينا اخوة واخوات متدربين جيدا لتعليم جميع الفئات من أطفال ورجال ونساء بسعر رمزي جدا.")
    meta(name="keywords", content="Quran, Tollab, El-Gannah, ElGannah, طلاب, أكاديمية, الجنة, قران, قرآن, تحفيظ, رجال, نساء, أطقال")

    //- Font Awesome Style Sheet
    link(rel="stylesheet", href="assets/css/brands.min.css")

    //- Custom Style Sheet
    link(rel="stylesheet", href="assets/css/main.css")
    
  body 

    //- Custom JS File
    script(src="assets/js/app.js") 