doctype html
html(lang="ar", dir="rtl")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title أكاديمية طلاب الجنة

    //- Search Engine Meta
    meta(name="description", content="مرحبا نحن أكاديمة طلاب الجنة. نهدف لتعليم الناس كتاب الله عز وجل. لدينا اخوة واخوات متدربين جيدا لتعليم جميع الفئات من أطفال ورجال ونساء بسعر رمزي جدا.")
    meta(name="keywords", content="Quran, Tollab, El-Gannah, ElGannah, طلاب, أكاديمية, الجنة, قران, قرآن, تحفيظ, رجال, نساء, أطقال")

    //- Font Awesome Style Sheet
    link(rel="stylesheet", href="assets/css/brands.min.css")

    //- Custom Style Sheet
    link(rel="stylesheet", href="assets/css/main.css")
    
  body
    //- Hero Section
    section#home.hero 
      .container
        .navbar
          .brand
            .img-container 
              img(src="assets/images/brand.svg", width="128", height="68", alt="أكاديمية طلاب الجنة")
          #nav-icon.nav-icon(tabindex="0")
            span 
            span 
            span 
          #nav-list.nav-list
            ul
              li
                a(href="#home") الرئيسية
              li
                a(href="#about") عنا
              li
                a(href="#testimonials") آراء العملاء
              li
                a(href="#services") خدماتنا
              li
                a(href="#contact") تواصل معنا

        main
          .content
            h1 أكاديمية طلاب الجنة
            hr
            p أكاديمية لتحفيظ وتعليم القرآن الكريم والعلوم الشرعية أونلاين للرجال والنساء والأطفال
            a.btn(href="#") تواصل معنا

      .shape-divider
        svg(data-name="Layer 1", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 1200 120", preserveAspectRatio="none")
          path(d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z", class="shape-fill")
            
    //- Hero Section
    //- section.about 
    //-   .container.small
    //-     .picture 
    //-       .img-container 
    //-         img(src="assets/images/about-img.png", alt="طاقم العمل")
    //-     .text
    //-       h4 نبذة عن
    //-       h2 أكاديمية طلاب الجنة
    //-       p 
    //-         | هي مؤسسة متخصصة في تحفيظ وتعليم القرآن الكريم وعلومه علي يد أفضل المعلمين والمعلمات.
    //-         | نحن نحاول أن نزرع عقيدة و دين و سلوكيات مفتقدينها في الجيل الجديد.
    //-         | ونسعي أيضا لتعليم كل من يريد تعلم القرآن الكريم من النساء والرجال.


    //- Custom JS File
    script(src="assets/js/app.js") 